<template>
    <div id="navigation_menu_container">
    <div id="navigation_menu_root">
        <ul>
            <NavMenuItem
                    v-for="item in items" :key="item"
                    v-bind:text="item"
            />
        </ul>
        <span>{{ opened }}</span>
    </div>
    </div>
</template>

<script>
    import NavMenuItem from "@/components/navmenu/NavMenuItem";
    export default {
        props: ['items', 'opened'],
        name: "NavigationMenu",
        components: {NavMenuItem}
    }
</script>

<style scoped>
    #navigation_menu_root {
        width: 40%;
        height: 100%;
        background: aliceblue;
        border-radius: 0px 40px 0px 0px;
    }
    #navigation_menu_container {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
    }
    ul {
        list-style-type: none;
    }
</style>