<template>
    <li id="nav_menu_item_element" v-on:click="itemClick(text)">
        <a href="#">{{ text }}</a>
    </li>
</template>

<script>
    import EventBus from "@/components/events/EventBus";
    import {AppEvent} from "@/components/events/Event";

    export default {
        props: ["text"],
        name: "NavMenuItem",
        methods: {
            itemClick(text) {
                EventBus.$emit(AppEvent.NAVIGATION_CLICK, text)
            }
        }
    }
</script>

<style scoped>
    #nav_menu_item_element {
        padding-top: 12px;
        font-family: Forum, serif;
        padding-bottom: 12px;
    }
    li a {
        position: relative;
        display: block;
        width: fit-content;
        text-decoration: none;
        color: rgba(74,74,74,255);
        font-size: x-large;
    }
    li a::after {
        background: darkblue;
        height: 2px;
        top: 100%;
        width: 100%;
        left: 0;
        position: absolute;
        content: "";
        transform: scaleX(0);
    }
    li a:hover {
        color: darkblue;
    }

    li a:hover::after {
        transform: scaleX(1);
    }
</style>