<template>
    <div id="white_roces_main_container">
        <NavigationMenu
                v-bind:items="navItems"
                v-bind:opened="isOpened"
        />
    </div>
</template>

<script>
    import NavigationMenu from "@/components/navmenu/NavigationMenu";
    import {AppViewModel} from "@/AppViewModel";
    import {stringsRU} from "@/assets/strings";
    import EventBus from "@/components/events/EventBus";
    import {AppEvent} from "@/components/events/Event";

    document.title = stringsRU.mainWhiteRoces

    let viewModel = new AppViewModel()
    let app = {
        name: 'App',
        data() {
            return {
                navItems: viewModel.navigationMenuItems,
                isOpened: viewModel.isNavigationMenuOpened
            }
        },
        mounted() {
            EventBus.$on(AppEvent.NAVIGATION_CLICK, (text) => {
                viewModel.navigationClick(text)
            })
            EventBus.$on(AppEvent.SCROLL_TO, (text) => {
                console.log(`Scrolled into: ${text}`)
                viewModel.isNavigationMenuOpened = true
            })
        },
        components: {NavigationMenu}
    }
    export default app
</script>

<style>
    #white_roces_main_container {
        background: aquamarine;
    }
</style>
